<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <div class="frame">
        <div class="main-con">
            <div class="wrapp-left">
                <div class="left-row-1">
                    <div class="left_1-1">
                        <img 
                        src="images/profile.png" 
                        width="156px" 
                        height="142px" 
                        alt="">
                    </div>
                    <div class="left_1-2"><%=user.name%></div>
                    <div class="left_1-3"><%=user.profession%></div>
                    <div class="left-icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector.svg" class="icon-1">
                            </div>
                        </a>

                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector (1).svg" class="icon-1">
                            </div>
                        </a>

                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/2.svg" class="icon-1">
                            </div>
                        </a>

                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector (3).svg" class="icon-1">
                            </div>
                        </a>

                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector (4).svg" class="icon-1">
                            </div>
                        </a>

                           <a class="link_href" href="">
                               <div class="icon">
                                   <img src="icon/Vector (5).svg" class="icon-1">
                               </div>
                           </a>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left-row-2">
                    <div class="flex-1-wrapp">
                        <%=user.age%> 
                        <%=user.residance%>
                        <%=user.addres%>
                    </div>
                    <div class="flex-2-wrapp"></div>
                </div>
                <div class="marginer"></div>
                <div class="left-row-3">3</div>
                <div class="marginer"></div>
                <div class="left-row-4">4</div>
                <div class="marginer"></div>
                <div class="left-row-5">5</div>
                <div class="marginer"></div>


            </div>
            <div class="wrapp-midd">asdasd</div>
            <div class="wrapp-right">asdasd</div>
        </div>
    </div>

</body>

</html>